{% extends "header.html" %}
{% block title %}
	FAQ
{% endblock %}
{% block content %}
	<div class="group">
		<h1 class="pagetitle">
			About PartyPlannr
		</h1>
	</div>
	<div class="group">
		<div class="title">
			Our Purpose
		</div>
	</div>
	<div class="group">
		PartyPlannr is about a Google App Engine experiment.  The idea behind it is to create a quick, easy to use web application built on top of Google's App Engine technology.  In 72 hours.
	</div>
	<div class="group">
		Sometimes creating a quick event, to allow users to sign up and manage that list requires creating an account, signing up, verifying your account -- you get the hint.  The goal for PartyPlannr is to allow you to do this quickly and efficiently as possible.  No registration, no nothing.
	</div>
	<div class="group">
		<div class="title">
			Cloud Computing
		</div>
	</div>
	<div class="group">
		Besides wanting to create a quick and efficient application, there are the risks of scalability and redundancy.  I didn't want to have to deal with the typical issues with hosting, load balancing, etc.  That is where the idea to utilize Google App Engine came in.  They providfe a robust, flexible platform to run your applications on an as-needed basis, keeping the costs cheap.  In addition, all data is automatically redundant on Google's backend.
		<br><br>
		<a href="http://code.google.com/appengine" target="_blank"><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" border="0" /></a>
	</div>
	<div class="group">
		<div class="title">
			Javascript Library
		</div>
	</div>
	<div class="group">
		 All javascript manipulation and processing is done by the jQuery framework.  This is a powerful web framework that allows for simple manipulation of DOM and JavaScript elements without complicated code.
		<br><br>
		<a href="http://jquery.com" target="_blank"><img src="/assets/110x31_gr01.png" alt="Powered by jQuery" border="0" /></a>
	</div>
	<div class="group">
		<div class="title">
			Team
		</div>
	</div>
	<div class="group">
			Currently PartyPlannr is a one man show, consisting of myself, <a href="http://www.linkedin.com/in/robertjschultz" target="_blank">Robert Schultz</a> as the only developer.  I am a 28-year old software developer from Fresno, CA with experience in ASP, ASP.NET, C#, XML Web Services and more.  Part of the goal with PartyPlannr was to gain an understanding how Google's cloud computing platform worked and to understand the inner workings of Python.
	</div>
{% endblock %}	