{% extends "header.html" %}
{% block title %}
	FAQ
{% endblock %}
{% block content %}
	<div class="group">
		<h1 class="pagetitle">
			FAQ
		</h1>
	</div>
	<div class="group">
		<div class="title">
			How can I use PartyPlannr?
		</div>
		To easily create an event that you can share with potential patrons and friends.
	</div>
	<div class="group">
		<div class="title">
			Is PartyPlannr free to use?
		</div>
		Of course.  This application is completely free to use and share amongst your friends.
	</div>
	<div class="group">
		<div class="title">
			How can I know when someone RSVPs for my event?
		</div>
		Currently, you have the option of being notified via your favorite RSS reader application such as Google Reader.  In order to do this, subscribe using the RSS link in the event detail page after creating the event.
	</div>
{% endblock %}	