{% extends "header.html" %}
{% block title %}
	{{ promotion.event }}
{% endblock %}
{% block meta %}
	<meta name="title" content="{{ promotion.event }}" />
	<meta name="description" content="{{ promotion.description }}" />
	{% ifnotequal promotion.image None %}
	<link rel="image_src" href="http://www.partyplannr.com/image?id={{ promotion.uniquename }}" / >
	{% endifnotequal %}
{% endblock %}
{% block content %}
	{% ifnotequal promotion None %}
	{% ifnotequal promotion.image None %}
	<div class="group" id="image" name="image">
		<img src="/image?id={{ promotion.uniquename }}">
	</div>
	{% endifnotequal %}
	<div class="group empty-bottom-margin">
		<h1 id="page-title">
			{{ promotion.event }}
		</h1>
	</div>
	<div class="group">
		{{ promotion.venue }}, {{ promotion.date }} - {{ promotion.time }}
	</div>
	<div class="group">
		{{ promotion.description }}
	</div>
	
	<div class="group">
		Interested in sharing with your friends on Facebook?  Click below!
		<br/>
		<a name="fb_share" type="button_count" share_url="http://www.partyplannr.com/{{ uniquename }}" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
		<br/>
	</div>
	
	<div class="input-group">
		<div>
			<div id="reservation-name">
				<div class="input-title">
					Name
				</div>
				<div id="name-input">
					<input type="text" class="input short" id="name" name="name" maxlength="100">
				</div>
			</div>
			<div id="reservation-comment">
				<div class="input-title">
					Comment
				</div>
				<div id="reservation-comment-input">
					<input type="text" class="input short" id="comment" name="comment" maxlength="500">
				</div>
			</div>
			<input type="hidden" name="status" id="status" />
			<input type="hidden" name="guests" id="guests" value="0" />
			<div id="divfix"></div>
		</div>
	</div>

	<div class="input-group">
		<h1 id="page-title">
			Are you attending?
		</h1>
	</div>
	
	<div class="input-group">
		<div>
			<div id="reservation-guests">
				<div class="input-title">
					<div id="guests-label" name="guests-label">0 Guests</div>
				</div>
				<div>
					<a id="add-button"><img src="/assets/action_add.png" align="absmiddle" border="0">&nbsp;Add<a>
					<br>
					<a id="remove-button"><img src="/assets/action_remove.png" align="absmiddle" border="0">&nbsp;Remove<a>
				</div>
			</div>
			<div id="divfix"></div>
		</div>
	</div>
	
	<div id="block">
		<a id="yes-button"><img src="/assets/yes_button.png"></a>&nbsp;<a id="no-button"><img src="/assets/no_button.png"></a>
	</div>
	
	<div id="divfix"></div>

	<div class="group" id="reservations">
		{% if showreservations %}
			<div>
				{{ reservations.length }}
			</div>
			{% for reservation in reservations %}
				<div class="title">
					{% ifequal reservation.status "Y" %}
						<div id="yes">
							{{ reservation.name }} 
						</div>
					{% endifequal %}
					{% ifequal reservation.status "N" %}
						<div id="no">
							{{ reservation.name }}
						</div>
					{% endifequal %}
				</div>
				{% ifnotequal reservation.comment null %}
					<div id="reservation-comment-text">
						{% ifnotequal reservation.guests 0 %}{% ifnotequal reservation.guests None %}+{{ reservation.guests }} Guests<br/> {% endifnotequal %}{% endifnotequal %}{{reservation.comment}}
					</div>
				{% endifnotequal %}
			{% endfor %}
		{% else %}
			<div>
				There are currently no reservations yet.
			</div>
		{% endif %}
		<div id="block">
			<script type="text/javascript"><!--
				google_ad_client = "pub-4316323067119346";
				/* 468x60, created 7/22/10 */
				google_ad_slot = "0584818283";
				google_ad_width = 468;
				google_ad_height = 60;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>
	{% else %}
		<div class="group">
			<div>
				There is no such event for the URL specified.  If you felt you reached this page in error, please contact us for further investigation.
			</div>
		</div>
	{% endifnotequal %}
{% endblock %}